.sector-progress {
  width: 100%;
  height: 0.375rem;
  appearance: none;
  border-radius: 9999px;
  overflow: hidden;
  background: #1e293b;
}

.sector-progress::-webkit-progress-bar {
  background: transparent;
}

.sector-progress::-webkit-progress-value {
  background: currentColor;
}

.sector-progress::-moz-progress-bar {
  background: currentColor;
}

